@import "../../scss/variable";
@import "../../scss/mixins";

.element {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 15px 5px;
  font-size: 1.1em;
  color: $colorInfoDataElementKeyOrTitle;
  line-height: 1.5em;
  letter-spacing: 0.02em;

  span {
    text-align: left;
    color: $colorInfoDataElementValueOrSpanInTitle;
    margin-left: 15px;
    font-weight: 300;
  }
  a {
    word-wrap: break-word;
    color: $colorInfoDataElementValueOrSpanInTitle;
    margin-left: 15px;
    font-weight: 300;
    transition: $transition;
    max-width: 280px;
    &:hover {
      background-color: #2d2d2d;
    }
  }
}
@media (max-width: 980px) {
  .element {
    padding: 15px 0px;
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.02em;
    span {
      margin-left: 10px;
    }
    a {
      margin-left: 10px;
    }
  }
}
@media (max-width: 515px) {
  .element {
    span {
      margin-left: 5px;
    }
    a {
      margin-left: 5px;
    }
  }
}
@media (max-width: 375px) {
  .element {
    flex-direction: column;
    align-items: start;
    padding: 10px 0px;
    font-size: 0.9em;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    span {
      margin: 10px 5px;
    }
    a {
      margin: 10px 5px;
    }
  }
}
