@import "../../scss/mixins";
@import "../../scss/variable";

.form {
  @include flexJustifyAlignDirection(center, start, column);
  width: 100%;
  &__row {
    @include flexJustifyAlignDirection(center, start, column);
    @include fontPoppins;
    position: relative;
    margin: 3px 0;
    margin-bottom: 10px;
    min-width: $widthSectionMainLinks;
  }
  &__row-error {
    margin-left: 15px;
    font-size: 0.7em;
    font-weight: 300;
    color: $colorError;
  }
  &__email,
  &__name,
  &__description {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    background-color: #2d2d2d;
    border-bottom: 2px solid snow;
    box-shadow: inset 0 0 2px 0px #000;
    color: #fff;
    font-size: 1em;
    outline: transparent;
    resize: none;
    transition: $transition;
    &:focus {
      border-bottom: 2px solid $colorBorderMyPhoto;
    }
  }
  &__title {
    margin-bottom: 5px;
    display: block;
  }
  &__title-error {
    color: $colorError;
  }
  &__name-error {
    border-bottom: 2px solid $colorError;
    &:focus {
      border-bottom: 2px solid $colorError;
    }
  }
  &__description {
    font-size: 1.3em;
    overflow: hidden;
    margin-bottom: 10px;
    height: 50px;
  }
  &__button {
    align-self: flex-end;
    padding: 15px 40px;
    transition: $transition;
    background-color: $colorBorderMyPhoto;
    box-shadow: 0 0 0 4px $colorBorderMyPhoto, 0 0 0 8px #000;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    color: #000;
    text-shadow: 1px 0 0 snow, -1px 0 0 snow, 0 1px 0 snow, 0 -1px 0 snow;
    &:hover {
      border-radius: 1px;
      font-size: 1.09em;
      box-shadow: 0 0 0 4px #000, 0 0 0 8px $colorBorderMyPhoto;
    }
  }
}
