@import "../../scss/variable";
@import "../../scss/mixins";

.title {
  font-size: 5em;
  &__second {
    @include fontPoppins;
    color: $colorBorderMyPhoto;
  }
}
@media (max-width: 890px) {
  .title {
    font-size: 4.5em;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 4em;
  }
}
