.title {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1050px){
  .title{
    margin-bottom: 50px;
  }
}
@media (max-width: 520px){
  .title{
    margin-bottom: 30px;
  }
}