@import "../../scss/variable";
@import "../../scss/mixins";

.navigation {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 6;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    transform: translateX(0px) rotateZ(0deg);
    background-color: rgb(34, 34, 36);
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.692);
    border-radius: 50%;
    transition: $transition;
    &:hover {
      background-color: rgba(34, 34, 36, 0.438);
      box-shadow: 0 0 10px 0px $colorBorderMyPhoto;
    }
  }
  &__btn-active {
    box-shadow: 0 0 10px 1px $colorBorderMyPhoto;
    background-color: rgba(34, 34, 36, 0.438);
    transform: translateX(-20px) rotateZ(-180deg);
  }
  &__list {
    height: 0;
    overflow: hidden;
    transition: $transition;
  }
  &__list-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(#{$heightNavigationElement * $countNavigationElement});
  }
  &__list-element {
    display: inline-block;
    color: #fff;
    height: $heightNavigationElement;
    padding: $paddingNavigationElement;
    transition: $transition;
    @include fontPoppins(300);
    border-left: 3px solid transparent;
    &:hover {
      color: $colorBorderMyPhoto;
    }
  }
  &__list-element-active {
    border-left: 3px solid $colorBorderMyPhoto;
    color: $colorBorderMyPhoto;
  }
  .color {
    fill: $colorBorderMyPhoto;
  }
}
@media (min-width: 320px) {
  .navigation {
    top: 20px;
    left: 0px;
    &__list {
      background-color: rgb(0, 0, 0);
      border-radius: 5px;
    }
    svg {
      height: 20px;
    }
    &__btn {
      transform: translateX(0px) rotateZ(0deg);
      &:hover {
        box-shadow: 0 0 10px 0px $colorBorderMyPhoto, 0 0 30px 20px #000;
        background-color: rgb(34, 34, 36);
      }
    }
    &__btn-active {
      box-shadow: 0 0 10px 1px $colorBorderMyPhoto, 0 0 30px 20px #000;
      background-color: rgb(34, 34, 36);
      transform: translateX(0px) rotateZ(-180deg);
    }
  }
}
@media (min-width: 500px) {
  .navigation {
    top: 20px;
    left: 10px;
    &__list {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
    svg {
      height: 40px;
    }
    &__btn {
      &:hover {
        box-shadow: 0 0 10px 0px $colorBorderMyPhoto, 0 0 30px 20px #000;
        background-color: rgb(34, 34, 36);
      }
    }
    &__btn-active {
      box-shadow: 0 0 10px 1px $colorBorderMyPhoto, 0 0 30px 20px #000;
      background-color: rgb(34, 34, 36);
      transform: translateX(0px) rotateZ(-180deg);
    }
  }
}
@media (min-width: 600px) {
  .navigation {
    top: 30px;
    left: 00px;
    &__list {
      background-color: rgba(0, 0, 0, 0.5);
    }
    svg {
      height: 30px;
    }
    &__btn {
      transform: translateX(0px) rotateZ(0deg);
      &:hover {
        background-color: rgba(34, 34, 36, 0.438);
        box-shadow: 0 0 10px 0px $colorBorderMyPhoto;
      }
    }
    &__btn-active {
      box-shadow: 0 0 10px 1px $colorBorderMyPhoto;
      background-color: rgba(34, 34, 36, 0.438);
      transform: translateX(-20px) rotateZ(-180deg);
    }
  }
}
@media (min-width: 1100px) {
  .navigation {
    left: 30px;
    &__list {
      background-color: transparent;
    }
    svg {
      height: 40px;
    }
  }
}
