@import "../../../scss/variable";
@import "../../../scss/mixins";

.contact {
  @include forAllPages;
  @include paddingForPages;
  &__wrap {
    @include flexJustifyAlignDirection(center, center, column);
  }
  &__content {
    @include flexJustifyAlignDirection(center, center, column);
  }
  &__mainlinks {
    @include flexJustifyAlignDirection(center, start, column);
    padding: 40px 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 13px 16px -5px #000000;
    margin-bottom: 50px;
  }
  &__link {
    padding: 10px 20px;
    margin: 3px 0;
    border-radius: 5px;
    width: 100%;
    display: flex;
    text-align: left;
    &-span {
      display: inline-block;
      font-size: 1.3em;
      font-weight: 300;
      color: rgba(255, 250, 250, 0.534);
      width: calc(#{$widthSectionMainLinks / 2} - 60px);
    }
    &-a {
      @include fontPoppins(300, italic);
      display: block;
      padding: 0 10px;
      color: snow;
      min-width: calc(#{$widthSectionMainLinks / 2} - 60px);
      transition: $transition;
      border-radius: 5px;
      &:hover {
        box-shadow: 0 0 5px 1px $colorBorderMyPhoto;
        background-color: rgba($colorBorderMyPhoto, $alpha: 0.5);
      }
    }
  }
  &__form {
    @include flexJustifyAlignDirection(center, center, column);
    padding: 40px 100px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 4px 13px 16px -5px #000000;
    margin-bottom: 100px;
    max-width: calc(#{$widthSectionMainLinks * 1.7} - 60px);
  }
  &__form-title {
    max-width: $widthSectionMainLinks;
    margin-bottom: 50px;
  }
}
@media (max-width: 515px) {
  .contact {
    @include paddingForPages(30px, 30px);
  }
}