@import "../../../scss/variable";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__info-wrap {
    display: flex;
    align-items: flex-start;
  }
  &__info-photo {
    height: 23em;
    box-shadow: inset 0 0 0 5px $colorBorderMyPhoto;
    position: relative;
    $topLeftPosition: -25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      top: $topLeftPosition;
      left: $topLeftPosition;
      background-color: rgba(0, 0, 0, 0.17);
    }
    img {
      position: relative;
      top: $topLeftPosition;
      left: $topLeftPosition;
      height: inherit;
      border-radius: 1px;
    }
    margin-right: 25px;
  }
  &__info-data {
    padding: 3px;
  }
  $maxWidthInfoDataList: 550px;
  &__info-data-list {
    // background-color: lightcoral;
    max-width: $maxWidthInfoDataList;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info-data-element {
    display: flex;
    justify-content: flex-start;
    width: calc(#{$maxWidthInfoDataList / 2} - 10px);
    padding: 15px 0px;
    font-size: 1.1em;
    color: rgba(255, 250, 250, 0.541);
    span {
      color: snow;
      margin-left: 15px;
      font-weight: 300;
      i {
        font-size: 0.7em;
      }
    }
  }
  &__line {
    $changePosition: 90px;
    $marginTopBottom: 50px;
    height: 2px;
    background-color: dimgray;
    margin-top: $marginTopBottom;
    margin-bottom: $marginTopBottom;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: inherit;
    }
    &::before {
      left: -$changePosition;
    }
    &::after {
      right: -$changePosition;
    }
  }
  &__skills {
  }
  &__skills-title {
  }
  &__skills-contents {
  }
  &__skills-content {
  }
  &__skills-content-list {
  }
  &__skills-content-element {
  }
}
