@import "../../../scss/variable";
@import "../../../scss/mixins";
$maxWidthInfoDataList: 550px;
$widthWrap: 960px;

.about {
  @include forAllPages;
  @include paddingForPages;
  &__wrap {
    width: $widthWrap;
  }
  &__info-wrap {
    display: flex;
    align-items: flex-start;
  }
  &__info-photo {
    height: 23em;
    box-shadow: inset 0 0 0 5px $colorBorderMyPhoto;
    position: relative;
    $topLeftPosition: -25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      top: $topLeftPosition;
      left: $topLeftPosition;
      background-color: rgba(0, 0, 0, 0.17);
    }
    img {
      position: relative;
      top: $topLeftPosition;
      left: $topLeftPosition;
      height: inherit;
      border-radius: 1px;
    }
    margin-right: 25px;
  }
  &__info-data {
    padding: 3px;
  }

  &__info-data-list {
    // background-color: lightcoral;
    max-width: $maxWidthInfoDataList;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__info-data-element {
    display: flex;
    justify-content: flex-start;
    width: calc(#{$maxWidthInfoDataList / 2} - 10px);
    padding: 15px 0px;
    font-size: 1.1em;
    color: rgba(255, 250, 250, 0.541);
    span {
      color: snow;
      margin-left: 15px;
      font-weight: 300;
      i {
        font-size: 0.7em;
      }
    }
  }
  &__line {
    $changePosition: 90px;
    $marginTopBottom: 50px;
    height: 2px;
    background-color: dimgray;
    margin-top: $marginTopBottom;
    margin-bottom: $marginTopBottom;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: inherit;
    }
    &::before {
      left: -$changePosition;
    }
    &::after {
      right: -$changePosition;
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
  }
  &__skills-title {
    align-self: flex-start;
    font-size: 2em;
    font-weight: 500;
    color: snow;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  // &__skills-contents {}
  &__skills-contents-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  &__skills-contents-element {
    font-size: 1.2em;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    margin: 10px;
    padding: 20px;
    transform: skewX(-10deg);
    border-radius: 1px;
    color: #000;
    letter-spacing: 0.21em;
  }
}
