@import "../../../scss/variable";
@import "../../../scss/mixins";

.about {
  @include forAllPages;
  @include paddingForPages;
  &__wrap {
    max-width: $widthWrap;
    width: 100%;
  }
  &__info-wrap {
    display: flex;
    align-items: flex-start;
  }
  &__info-photo {
    height: 23em;
    box-shadow: inset 0 0 0 5px $colorBorderMyPhoto;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      top: $topLeftPositionInfoPhoto;
      left: $topLeftPositionInfoPhoto;
      background-color: rgba(0, 0, 0, 0.17);
    }
    img {
      position: relative;
      top: $topLeftPositionInfoPhoto;
      left: $topLeftPositionInfoPhoto;
      height: inherit;
      border-radius: 1px;
    }
    margin-right: 25px;
  }
  &__info-data {
    padding: 3px;
  }
  &__info-data-list {
    max-width: $maxWidthInfoDataList;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > li {
      width: calc(#{$maxWidthInfoDataList / 2} - 10px);
    }
  }
  &__line {
    height: 2px;
    background-color: dimgray;
    margin-top: $marginTopBottomAboutLine;
    margin-bottom: $marginTopBottomAboutLine;
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: inherit;
    }
    &::before {
      left: -$changePositionAboutLine;
    }
    &::after {
      right: -$changePositionAboutLine;
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
  }
  &__skills-title {
    align-self: flex-start;
    font-size: 2em;
    font-weight: 500;
    color: snow;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  // &__skills-contents {}
  &__skills-contents-list {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  &__skills-contents-element {
    @include fontPoppins(900);
    font-size: 1.2em;
    margin: 10px;
    padding: 20px;
    transform: skewX(-10deg);
    border-radius: 1px;
    color: #000;
    letter-spacing: 0.21em;
    box-shadow: 0 0 2px 1px #000;
  }
}
@media (max-width: 1200px) {
  .about {
    &__info-wrap {
      padding: 0 30px;
    }
    &__info-photo {
      height: 23em;
      &::after {
        top: $topLeftPositionInfoPhoto;
        left: $topLeftPositionInfoPhoto;
      }
      img {
        top: $topLeftPositionInfoPhoto;
        left: $topLeftPositionInfoPhoto;
      }
      margin-right: 25px;
    }
    &__info-data {
      padding: 3px;
    }
    &__info-data-list {
      max-width: calc(#{$maxWidthInfoDataList - 50px});
      & > li {
        max-width: calc(#{$maxWidthInfoDataList / 2} - 50px);
      }
    }
    &__line {
      &::before {
        left: calc(#{-$changePositionAboutLine + 90px});
      }
      &::after {
        right: calc(#{-$changePositionAboutLine + 90px});
      }
    }
  }
}
@media (max-width: 1020px) {
  .about {
    &__line {
      margin: 0 auto;
      max-width: 700px;
      margin-top: calc(#{$marginTopBottomAboutLine - 10px});
      margin-bottom: calc(#{$marginTopBottomAboutLine - 10px});
    }
  }
}
@media (max-width: 980px) {
  .about {
    &__info-wrap {
      padding: 0 50px;
      align-items: center;
      justify-content: center;
    }
    &__info-photo {
      height: 20em;
      box-shadow: 0 0 0 5px $colorBorderMyPhoto;
      border-radius: 1px;
      &::after {
        top: 0;
        left: 0;
      }
      img {
        top: 0;
        left: 0;
      }
    }
    &__info-data {
      padding: 3px;
    }
    &__info-data-list {
      max-width: calc(#{$maxWidthInfoDataList - 90px});
      & > li {
        max-width: calc(#{$maxWidthInfoDataList / 2} - 90px);
      }
    }
  }
}
@media (max-width: 890px) {
  .about {
    &__info-wrap {
      flex-direction: column;
    }
    &__info-photo {
      height: 14em;
      margin-bottom: 45px;
    }
    &__info-data-list {
      max-width: calc(#{$maxWidthInfoDataList - 40px});
      & > li {
        max-width: calc(#{$maxWidthInfoDataList / 2} - 40px);
      }
    }
    &__line {
      max-width: 650px;
      margin-top: calc(#{$marginTopBottomAboutLine - 15px});
      margin-bottom: calc(#{$marginTopBottomAboutLine - 10px});
    }
  }
}
@media (max-width: 750px) {
  .about {
    &__skills-contents-element {
      @include fontPoppins(700);
      font-size: 1em;
      margin: 5px;
      padding: 15px;
      transform: skewX(-15deg);
      letter-spacing: 0.2em;
    }
  }
}
