@import "../../../scss/variable";
@import "../../../scss/mixins";

.home {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 830px;
  &__wrap {
    @include flexJustifyAlignDirection(space-between, center);
  }
  &__photo {
    margin-right: 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__content-hi {
    font-size: 1.4em;
    span {
      font-style: italic;
    }
  }
  &__content-name {
    font-size: 2.8em;
    span {
      @include fontPoppins(500);
      color: $colorBorderMyPhoto;
    }
  }
  &__content-about {
    font-size: 1.4em;
    font-weight: 300;
  }
}
