@import "../../../scss/variable";
@import "../../../scss/mixins";

.portfolio {
  @include paddingForPages;
  @include forAllPages;
  &__wrap {
    @include flexJustifyAlignDirection(start, center, column);
  }
  &__content {
    max-width: $maxWidthContent;
    @include flexJustifyAlignDirection(center, center, column);
  }
  &__element {
    @include flexJustifyAlignDirection(center, center, column);
    padding: 5px;
    border-radius: 5px;
  }
  &__element-title {
    @include fontUbuntu;
    font-size: 3.5em;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
  }
  &__element-wrap {
    width: inherit;
    @include flexJustifyAlignDirection(start, center);
  }
  &__element-info {
    
  }
  &__element-link {
  }
  &__element-github {
  }
  &__element-description {
  }
  &__element-technologies {
  }
  &__element-canvas {
  }
}
