.app {
  min-height: 100vh;
  // height: 100vh;
  position: relative;
  background-image: url("./assets/images/forest-5286824.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  &__wrap {
    background-color: rgba(0, 0, 0, 0.800);
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 5;
    box-shadow: inset 0 0 10px 5px #000;
  }
  &__content {
    min-height: 100vh;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
