$colorBorderMyPhoto: lightseagreen;
$colorBorderMyPhotoHover: mediumaquamarine;
$transition: all 0.23s ease-in-out;

// START Variable Navigation component
$heightNavigationElement: 40px;
$countNavigationElement: 4;
$paddingNavigationElement: 10px;
// END Variable Navigation component

searchCssProprytiesdsfsdf {
  color: mediumaquamarine;
}
