// dodgerblue deeppink lightseagreen
$colorBorderMyPhoto: dodgerblue;
$colorBorderMyPhotoHover: dodgerblue;
$transition: all 0.23s ease-in-out;

// START Variable Navigation component
$heightNavigationElement: 40px;
$countNavigationElement: 4; //Число элементов в массиве(навигационном списке)
$paddingNavigationElement: 10px;
// END Variable Navigation component

searchCssProprytiesdsfsdf {
  color: lightblue;
}
