// dodgerblue deeppink lightseagreen
$colorBorderMyPhoto: dodgerblue;
$colorBorderMyPhotoHover: dodgerblue;
$transition: all 0.23s ease-in-out;

// START Variable Navigation component
$heightNavigationElement: 40px;
$countNavigationElement: 4; //Число элементов в массиве(навигационном списке)
$paddingNavigationElement: 10px;
// END Variable Navigation component

// START Variable About component
$maxWidthInfoDataList: 550px;
$widthWrap: 960px;
$topLeftPositionInfoPhoto: -25px;
$colorInfoDataElementKeyOrTitle: rgba(255, 250, 250, 0.541);
$colorInfoDataElementValueOrSpanInTitle: snow;
$changePositionAboutLine: 90px;
$marginTopBottomAboutLine: 60px;
// END Variable About component

// START Variable Portfolio component
$maxWidthContent: 950px;
// END Variable Portfolio component

searchCssProprytiesdsfsdf {
  color: lightblue;
}
